/* culture shock: candy corn by pogy366 - Oct. 2005  */

/******* structure and layout *******/
body {
margin:10px 10px 0px 0;
padding:0px;
font-family:Arial, Helvetica, sans-serif; 
font-size: 9pt; 
color:#000000;
}

.leftcontent {
position: absolute;
left:0px;
top:126px;
width:200px;
background:#fff url(images/left_bg.gif);
border:none;
text-align:left;
}

.left_news {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
color:#818181;
margin:0 0 0 0;
padding:10px 5px 5px 10px;
width:185px;
background:#ffffff;
}

#left_bg_top {
background:#fff url(images/left_bg_top.gif);
background-repeat:no-repeat;
border:none;}

#centercontent {
background:#fff;
margin-top:10px;
margin-left: 199px;
margin-right:199px;
border:1px solid #fff;
voice-family: "\"}\"";
voice-family: inherit;
margin-left: 201px;
margin-right:201px;
}
html>body #centercontent {
margin-left: 201px;
margin-right:201px;
}

#rightcontent {
position: absolute;
right:10px;
top:130px;
width:200px;
background:#fff;
border:1px solid #FC9F42;
}

.right_news {
position:relative;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
color:#818181;
margin:0 0 0 0;
padding:10px 5px 5px 10px;
width:185px;
background:#ffffff;
}

#banner {
background:#fff url(images/header_bg.gif);
height:116px;
border:none;
voice-family: "\"}\"";
voice-family: inherit;
height:39px;
color:#BB4F13;
}
html>body #banner {
height:116px;
}

.page_title {
position:absolute;
top:55px;
left:175px;
margin:0 0 0 0;
padding:0 0 0 0;
text-decoration: none;
}

.top_links {
/* i positioned the top links absolutely within the banner area because of a problem i saw in IE when i did a float-right, and i didn't want to take the time to figure it out. Anyway, this isn't a problem until you add more links to the top nav or edit the text links. If/when you do, you'll have to adjust the position of the area by moving it right or left. 600px isthe default */
position:absolute;
top:10px;
left:600px;
margin:0 0 0 0;
padding:0 0 0 0;
}

p,h1,pre {
margin:0px 10px 10px 10px;
}

#rightcontent p {
font-size:8pt;
}

/******* left navigation *******/
#nav ul {
margin:10px 0 10px 5px;
padding:0 0 0 0;
}

#nav li {
list-style-type: none;
background-color: #fc9f42;
color: #daa520;
border:2px solid #fc9f42;
text-align:left;
padding:0 0 0 0;
margin-bottom:4px;
}

#nav li a {
color: #ffffff;
font-weight:bold;
text-decoration: none;
display: block;
padding:0 0 0 5px;
}

#nav li a:hover {
background-color:#ea7738;
color: #F9BC80;
}

#nav li a:hover:after {
background-color:#ea7738;
color: #ffffff;
content: " \00AB \00AB"
}

/******* top navigation *******/
#topnav ul{
padding:0 0 0 0;
margin:0 5px 0 0;
white-space: nowrap;
font-size:7pt;
color:#ffffff;
float:left;
width:100%;
background:transparent;
list-style:none;
}

#topnav ul li{
display:inline;
list-style:none;
}

#topnav ul li a{
margin: 0 5px 0 0;
padding: .2em 1em .2em 1em;
background:#FC9F42;
color: #ffffff;
font-weight:bold;
text-decoration:none;
float: left;
border:2px solid #ffffff;
}

#topnav ul li a:hover{
background:#EA7738;
color: #ffffff;
text-decoration:none;
border:2px solid #ffffff;
}

/******* fonts and colors *******/
a {
color:#699065;
text-decoration:underline;
}

a:hover {
color:#999999;
text-decoration:none;
}

.news_title {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9pt;
font-weight:bold;
color:#EA7738;
}

#news_title_blk {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;
color:#000000;
text-decoration: none;
}

#news_title_blk1 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;
color:#000000;
text-decoration: none;
}

#commettitle {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color:#000000;
text-decoration: none;
}

#page_title {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14pt;
font-weight:bold;
color:#ffffff;
text-transform:uppercase;
letter-spacing:-.1em;
text-decoration: none;
}

div.pumpkin {
display:block;
float:left;
width:18px;
height:18px;
margin-right:2px;
background-image:url(images/candy_corn.jpg);
background-repeat:no-repeat;
}

div.pumpkin div {display:none;}

h1 {
font-size:14px;
padding-top:10px;
}

#banner h1 {
font-size:14px;
padding:10px 10px 0px 10px;
margin:0px;
}

#footer {
bottom:0;
margin:5em 0 0 0;
padding:0;
height:4em;
line-height:4em;
text-align:center;
background-color:#ffffff;
border-top:1px solid #eeeeee;
}
/******* images *******/
img {
border:none;
}

.center {
text-align:center;
}

/******* workarounds and hacks *******/
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */